{% extends 'base.html.twig' %}

{% block title %}Garage Parrot - Bienvenue{% endblock %}

{% block body %}
    <main class="row justify-content-center">
        <h1 class="col-lg-8 my-5 p-3 text-success text-center fw-bold shadow-lg rounded description">Derniers arrivages véhicules d'occasion</h1>
        
        <div class="container">
            {% include "partials/advert/_carousel.html.twig" %}
        </div> 
            {% include "partials/home/_block_presentation.html.twig" %}
            <div class="container-fluid">
                <div class="row justify-content-center mb-5">
                    <h2 class="col-6 shadow-lg text-center rounded my-5 mt-5 orangeTitle">Avis clients</h2>
                    {% include "partials/home/_block_comment.html.twig" %}
                </div>
                <div class="row justify-content-center">
                    {% include "partials/home/_modal_comment.html.twig" %}
                </div>
            </div>
    </main>
</body>
{% endblock %}

