
<header>
  <nav class="navbar mb-5 navbar-expand-lg navbar-dark bg-dark text-white border-bottom sticky-top">
      <div class="container-fluid">
          <a href="/" class="navbar-brand">
            <img
              src=" {{ asset('build/images/logo_complet_rect.png') }} " 
              width="278" 
              height="100" 
              alt="logo" 
              class="mx-lg-2"
            >
          </a>
        <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarNavDropdown" 
          aria-controls="navbarNavDropdown" 
          aria-expanded="false" 
          aria-label="Toggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link mx-lg-2 linkNav" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2 linkNav" href="{{ path('app_used_car') }}">Véhicules d'occasion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2 linkNav" href="{{ path('app_maintenance_service')}}">Entretiens et services</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mx-lg-2 linkNav" href="#" role="button" data-bs-toggle="dropdown">Nous contacter</a>
              <ul class="dropdown-menu bg-dark">
                <li>
                  <a class="dropdown-item linkNav" href="tel:0383838282">Par téléphone</a>
                </li>
                <li>
                  <a class="dropdown-item linkNav" href="#">Nous écrire</a>
                </li>
                <li>
                  <a class="dropdown-item linkNav" href="/#plan-toulouse">Nous localiser</a>
                </li>
              </ul>
            </li>
          </ul>
        <a href="{{ path('app_login') }}"><button type="button" class="btn btn-outline-success linkNav">Connexion</button></a>
        </div>
      </div>
  </nav>
</header>
