<div class="row justify-content-center">
    <iframe src="{{asset('build/doc/Mentions légales.pdf')}}"
            width="1500" 
            height="1200" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy"
            id="legalsMotions"
            class="my-5">
    </iframe>
</div>