<div class="row justify-content-center">
    <iframe src="{{asset('build/doc/Conditions utilisation.pdf')}}"
            width="1500" 
            height="1200" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy"
            id="utilisationCond">
    </iframe>
</div>