// assets/styles/global.scss

// customize some Bootstrap variables
$primary: #554c3b;
$secondary: rgba(80, 100, 111, 0.6);
$success: #FDB402;
$info: #58f544;
$dark: #1C1A1D;
$light:#eeebc1;
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
  background-image: url(../images/background2.jpg);
  background-size: cover;
  max-width: 100%;
  height : auto;
  margin: 0;
  padding: 0;


}
.linkNav {
    font-family: 'Audiowide', cursive;
    font-size: 0.95em;
}

h1, h2 {
    font-family: 'Audiowide', cursive;
    font-size: 1.5em;
}

a {
  text-decoration: none; 
}

.nav-link.active {
    border-bottom: solid 2px $success;
  }


@media screen and (min-width: 1402px) {
  .containerFilters{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin-left: 0px;
    margin-right: 5%;
    padding: 2%;
  }
 
  
}

.atelier {
  border-radius: 10%;
  width: 50vw;
}
@media screen and (max-width:991px) {
  .atelier {
    border-radius: 10%;
    width: 100vw;
  }

}

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5 {
  margin-left: 33vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

@media screen and (min-width:426px) and (max-width:991px)  {
  .slide-1,
  .slide-2,
  .slide-3,
  .slide-4,
  .slide-5 {
  margin-left: 15vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
}
}
@media screen and (max-width:425px)  {
  .slide-1,
  .slide-2,
  .slide-3,
  .slide-4,
  .slide-5 {
  margin-left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
}
}

@media (orientation:landscape) and (max-width:991px) {
  .slide-1,
  .slide-2,
  .slide-3,
  .slide-4,
  .slide-5 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vw;
}
}

.star-empty, .star {
  color: $success;
}

.phone, .address {
  display: inline-block;
}

.clé-molette {
  border-radius: 80%;
  width: 20%;
  height: auto;
}

.serviceList {
  background:  rgba(79, 99, 109, 0.6);
  list-style: none;
}

.formu-contact{
  display: inline-block;
  margin-right: 10px;
}

.phone{
  border-radius: 50%;
}

#toggle{
  width: 45%;
}

.description{
  text-align: justify;
  background: rgba(79, 99, 109, 0.6);
}

.orangeTitle{
  background: rgba(253, 182, 2, 0.8);
}