<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#1C1A1D" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Hind+Madurai:wght@300;600&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-secondary">
            {% include "partials/_header.html.twig" %}

            {% include "partials/flash_message/_check_flash_message.html.twig" %}

        {% block body %}
        {% endblock %}

            {% include "partials/_footer.html.twig" %}
    </body>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
</html>
