         <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item slide-1 active " >
                        
                        {% for advert in adverts|slice(-1,1) %}   
                            {% include "partials/advert/_car_picture_carousel.html.twig" %}
                        {% endfor %}  
                    </div>                
                    <div class="carousel-item slide-2">
                        {% for advert in adverts|slice(-2,1) %}                        
                            {% include "partials/advert/_car_picture_carousel.html.twig" %}
                        {% endfor %} 
                    </div>
                    <div class="carousel-item slide-3" >
                        {% for advert in adverts|slice(-3,1) %}   
                            {% include "partials/advert/_car_picture_carousel.html.twig" %}
                        {% endfor %} 
                    </div>
                    <div class="carousel-item slide-4" >
                        {% for advert in adverts|slice(-4,1) %}
                            {% include "partials/advert/_car_picture_carousel.html.twig" %}
                        {% endfor %} 
                    </div>
                    <div class="carousel-item slide-5" >
                        {% for advert in adverts|slice(-5,1) %} 
                            {% include "partials/advert/_car_picture_carousel.html.twig" %}
                        {% endfor %} 
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>