{{ form_start(form, {'attr': {'id': 'filters', 'class':"col-lg-6 mb-5"}}) }}>
    <div class="containerFilters shadow-lg">
        <p class="mx-5">
            {{ form_widget(form) }}
        </p>
    </div>
{{ form_end(form) }}



